<!-- pagination container-->
<div class="container-fluid">
    <div class="row">
        <div style = "margin:3px;border:3px solid green;    " class="col-xs-6 col-sm-4" ng-repeat="sl in Sls">
            {{sl}}
        </div>
    </div>
    <div class="row">
        <!-- Single button -->

        <div class="btn-group">
             <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Per page {{currentPerPage}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a ng-repeat="perPage in perPages" ng-click="getTotalPagesByPerPageSelection(perPage)">{{perPage}}</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class=".col-xs-6 .col-sm-1">
            <nav>
                <ul class="pagination">
                    <li style="cursor:pointer"><a ng-click="loadPage(1)">First page</a></li>
                    <li style="cursor:pointer"><a ng-repeat="page in pages" ng-click="loadPage(page)">{{page}}</a></li>
                    <li><a>Showing page {{currentPage}} out of {{totalPages}}</a> </li>
                    <li style="cursor:pointer"><a ng-click="loadPage(totalPages)">Last page</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>